<div *ngIf="!loading && !searchFailed">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">Repo Search Results</h1>

      <!-- Only display results if there were results returned -->
      <div *ngIf="results.total_count > 0">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Owner Avatar</th>
              <th scope="col">Name</th>
              <th scope="col">Open Issues</th>
              <th scope="col">Stars</th>
              <th scope="col">Language</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of results.items">
              <td>
                <img src="{{item.owner.avatar_url}}" height="50" width="50">
              </td>
              <td>
                <a [routerLink]='["/repo", item.owner.login, item.name]'>{{item.name}}</a>
              </td>
              <td>
                {{item.open_issues_count}}
              </td>
              <td>
                {{item.stargazers_count}}
              </td>
              <td>
                {{item.language}}
              </td>
            </tr>
          </tbody>
        </table>

        <!-- Next and Prev Button Code-->

        <div *ngIf="currentPage != 1">
          <button class="btn btn-primary" (click)="prevPage()">Prev</button><br /><br />
        </div>
        <div *ngIf="currentPage != totalPages">
          <button class="btn btn-primary" (click)="nextPage()">Next</button><br /><br />
        </div>

      </div>

      <!-- If no results were returned -->
      <div *ngIf="results.total_count == 0">
        <h1 class="h3">No Results Found</h1>
      </div>

    </div>
  </div>
</div>
<div class="alert alert-warning" role="alert" *ngIf="searchFailed">
  Search Failed, try again.
</div>
